<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>La boutique de ICHOU</title>
    </head>
    <body>

        <a href="{% url 'index' %}"><h1>La boutique de ICHOU</h1></a>
        

        {% if user.is_authenticated  %}
            {{user.username}}
            <a href="{% url 'logout' %}">Déconnexion</a>
        {% else %}
            <a href="{% url 'signup' %}">S'inscrire</a><br>
            <a href="{% url 'login' %}">Se connecter</a>
        {% endif %}

        {% block content %}

        {% endblock %}
        
    </body>
</html>